.form{
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    border-style: none;
    /* outline: 1px solid rgb(99, 97, 97) ; */
    color:rgb(99, 97, 97);
}

input{
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border-style: none;
    outline: 1px solid rgb(99, 97, 97) ;
    color:rgb(99, 97, 97);
    font-size:15px;
    
}

.btn{
    border-radius: 9px;
    font-size: 12px;
    padding: 7px 11px;
    background-color: white;
    border: 1px solid rgb(99, 97, 97);
    margin-top: 10px;
    padding: 5px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
}

.btn:hover {
    background-color: #3f51b5;
    color: white;
}
